.home-side-col{
    height: 100vh;
    background-color: #eee;
    padding: 1.5rem;
}

.home-side-content{
    margin-top: 8rem;
}

.social-icons a {
    color: #6c757d;
}

.social-icons a:hover {
    color: #ababab;
}

.side-scroll{
    height: 90vh;
}

.section-1{
    background-color: #ee3733;
}

.section-2{
    background-color: #0461a2;
}

.section-3{
    background-color: #93c14c;
}