.home-side-col{
    background-color: #eee;
    padding: 3rem 1.5rem;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1020;
}



.social-icons a {
    color: #6c757d;
}

.social-icons a:hover {
    color: #ababab;
}


.section-1{
    background-color:#A81811;
}

.section-2{
    background-color: #9EA822;
}

.section-3{
    background-color: #0461a2;
}

.section-4{
background-color: #f4b93d;
}

.section-5{
background-color:#3991ED;
    }

.section-6{
background-color: #11A84A;
        }

.section-7{
background-color: #00A89F;
}

.section-8{
background-color:#A89022;
    }

.section-9{
background-color:#DB4B00;
        }

.footer-site{
    color: #fff;
}

.description-project, .title-project{
    margin-left: 3rem;
}

@media (max-width: 1024px){
.home-side-col{
        position: unset;

    }

    .home-side-col{
        height: auto;
    }

    .description-project{
        margin-left: 0.25rem;
    }
}

@media screen and (max-width: 414px) {
    
}