.home-side-col{
    background-color: #eee;
    padding: 3rem 1.5rem;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1020;
}



.social-icons a {
    color: #6c757d;
}

.social-icons a:hover {
    color: #ababab;
}


.section-1{
    background-color:#005ba9;
}

.section-2{
    background-color: #ee3733;
}

.section-3{
    background-color: #0461a2;
}

.section-4{
background-color: #93c14c;
}

.footer-site{
    color: #fff;
}

.description-project, .title-project{
    margin-left: 3rem;
}

@media (max-width: 1024px){
.home-side-col{
        position: unset;

    }

    .home-side-col{
        height: auto;
    }

    .description-project{
        margin-left: 0.25rem;
    }
}

@media screen and (max-width: 414px) {
    
}